

#center {
  display: flex;
  min-height: 100vh;
}

#contentsArea{
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  #center {
    flex-direction: column;
  }
  #contentsArea {
    padding: 60px 0 20px 0; /* ハンバーガーボタンとの重なりを考慮して上部に広めの余白 */
  }
}



button {
  /* 1. デフォルトのスタイルを消す */
  background-color: transparent; /* 通常時は無色 */
  border: none;                  /* 枠線を消す */
  outline: none;                 /* クリック時の青い枠線を消す */
  padding: 0;
  cursor: pointer;               /* カーソルを指マークにする */
}

.logout{
  position: fixed;
  right: 5px;
  top: 5px;
}