

#center {
  display: flex;
  place-content: center;
  place-items: center;
  flex-grow: 1;
}

#sideBar{
  width: 80px;
  height: 100vh;
  padding:10px;
  background-color: #f2f2f2;
  flex-direction: column;
  flex-shrink: 0;
  transition: width 0.3s ease;
  display: flex;
  place-items: start;
  place-content: start;
}

#sideBar.isOpen{
  width: 280px;

}


#contentsArea{
  flex-grow: 1;
}



button {
  /* 1. デフォルトのスタイルを消す */
  background-color: transparent; /* 通常時は無色 */
  border: none;                  /* 枠線を消す */
  outline: none;                 /* クリック時の青い枠線を消す */
  padding: 0;
  cursor: pointer;               /* カーソルを指マークにする */
}

.logout{
  position: fixed;
  right: 5px;
  top: 5px;
}