

#center {
  display: flex;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#sideBar{
  width: 80px;
  height: 100vh;
  padding:10px;
  background-color: #f2f2f2;
  flex-direction: column;
  flex-shrink: 0;
  transition: width 0.3s ease;
  display: flex;
  place-items: start;
  place-content: start;
}

#sideBar.isOpen{
  width: 280px;

}

.sidebar{
  display: none;
}

.sidebar.isOpen{
  display: block;
}

#contentsArea{
  flex-grow: 1;
}

.hamburgerButton{
}

.resultComponent{
  padding: 50px;
}

.result_top_area{
  display: flex;
  place-content: center;
  place-items: center;
}

.radarChart{
  width: 600px;
}

.result_bottom_area{
  display: flex;
  place-content: start;
  place-items: start;
}

.interviewTrainingResult{
  height: 100vh;
  overflow-y: auto;
}

.historyArea{
  height: 100vh;
  overflow-y: auto;
}